<!DOCTYPE html>
<html xmlns:th=""http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add Order</title>
    </head>
    <body>
        <h1>Add New Order</h1>
        <form th:action="@{/order/add}" method="post">
            <div>
                <label for="orderDate">Order Date:</label>
                <input type="date" id="orderDate" name="OrderDate" />
            </div>
            <div>
                <label for="customer">Customer:</label>
                <select id="customer" name="customer">
                    <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}">
                        Customer name
                    </option>
                </select>
            </div>
            <div>
                <label for="product" >Product</label>
                <select id="product" name="product">
                    <option th:each="product: ${product}" th:value="${product.id}" th:text="${product.name}">
                        Product Name
                    </option>
                </select>
            </div>
            <button type ="submit">Add Order</button>
            <a th:href="@{/order/list}">Back to Order List</a>
    </body>
</html>